<h1><%= @track.name %></h1>

<p>
  <h4>Band: <%= @track.album.band.name%></h4>
  <h4>Album: <%= @track.album.name%> | <%= @track.ttype %> track </h4>
</p>

<h4>Track Lyrics</h4>
<p><%= @track.lyrics %></p>

<%= button_to 'Edit Track', edit_track_url(@track), method: :get %>
<br>
<%= button_to 'Delete Track', track_url(@track), method: :delete %>
<br>
<%= link_to 'Back to Album', album_url(@track.album) %>
<br>
<%= link_to 'Back to Band', band_url(@track.band) %>
