<% if flash[:owner_error] %>
      <h3><%= flash[:owner_error] %><br></h3>
<% end %>

<h1>Cats upon cats!</h1>

<ul>
  <% @cats.sort_by { |c| c.name }.each do |cat| %>
    <li><%= link_to cat.name, cat_url(cat) %></li>
  <% end %>
</ul>

<%= link_to "Create cat", new_cat_url %>
<br>

<% unless current_user %>
  <%= link_to "Create a User", new_user_url %>
  <br>
  <%= link_to "Login to existing Account", new_session_url %>
<% end  %>
