<h1> <%= @sub.title %></h1>

<p><%= @sub.description %></p>
<p>Moderator: <%= @sub.moderator.username %></p>


<% @sub.posts_by_votes.each do |post| %>
  <%= render 'posts/post_show.html.erb', post: post %>
  <p>----------------------------</p>
<% end %>


<%= button_to 'Add Post', new_sub_post_url(@sub), method: :get %>
<br>

<%= button_to 'Edit', edit_sub_path(@sub), method: :get %>
<br>
<%= button_to "Delete", sub_url(@sub), method: :delete %>
<%= link_to 'Back', subs_url %>
